numpy
pandas
SharedArray==3.0.0
click==6.6
scikit-image==0.12.3
scikit-learn==0.14.1
scipy==0.18.0
six==1.10.0
setuptools==28.8.0
#matplotlib==1.5.1
jupyter==1.0.0
ghalton==0.6
Pillow==2.3.0
progress
opencv-python
h5py
Cython=0.27
git+https://github.com/lucasb-eyer/pydensecrf.git
tensorflow-gpu==1.8.0
