numpy
pandas
SharedArray==3.0.0
click==6.6
scikit-image==0.12.3
scikit-learn==0.14.1
scipy==0.18.0
six==1.10.0
setuptools==28.8.0
matplotlib==2.2.3
jupyter==1.0.0
opencv-python==3.4.7.28
pyyaml
ghalton==0.6
Pillow==6.2.0
progress
h5py
Cython==0.27
pydensecrf==1.0rc3
tensorflow-gpu==1.10.0
bokeh
PrettyTable
hyperopt==0.1.2

